.container {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 5%;
}

.customers {
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBtn {
    font-size: 20px;
    height: 150%;

}