<div class="naviBar" #naviBar>
    <ul>
        <li>
            <a class="naviItems" routerLink="/Home">
                <span class="fa fa-apple"></span>
            </a>
        </li>
        <li *ngFor="let item of naviItems">
            <a class="naviItems" routerLink="/">
                {{ item }}
            </a>
        </li>
        <li class="whiteIcon">
            <a class="naviItems">
                <span class="fa fa-search"></span>
            </a>
        </li>
        <li class="whiteIcon">
            <a class="naviItems" (click)="toggleShoppingBag()">
                <span class="fa fa-shopping-bag"></span>
            </a>
            <div #shoppingBagDropdown class="shoppingBagDropdown" *ngIf="showShoppingBag"
                (click)="hideShoppingBagDropDown($event)">
                <span class="bagDesc">Your Bag is empty.</span>
                <div class="signInTextContainer">
                    <a class="signInText" routerLink="/Login">Sign in</a> to see if you have any saved items
                </div>
                <div class="myProfile">
                    <ul>
                        <li class="profileItems">
                            My Profile
                        </li>
                        <li class="profileItems">
                            <a [routerLink]="['/Orders', 1]">
                                <i class="profileIcons fa fa-book" aria-hidden="true"></i>
                                Orders
                            </a>
                        </li>
                        <li class="profileItems">
                            <a class="profileItems" routerLink="/Orders:1">
                                <i class="profileIcons fa fa-bookmark-o" aria-hidden="true"></i>
                                Saves
                            </a>
                        </li>
                        <li class="profileItems">
                            <a class="profileItems" routerLink="/Customers">
                                <i class="profileIcons fa fa-cog" aria-hidden="true"></i>
                                Account
                            </a>
                        </li>
                        <li class="profileItems">
                            <a class="profileItems" routerLink="/Login">
                                <i class="profileIcons fa fa-user-circle" aria-hidden="true"></i>
                                Sign in
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>