<div class="home">
    <div class="iPhone-15Pro">
        <div class="description">
            <h2 class="headline">iPhone 15 Pro</h2>
            <h3 class="subhead">Titanium. So strong. So light. So Pro.</h3>
        </div>
        <div class="links">
            <a>
                Learn More >
            </a>
            <a style="margin-left: 20px;">
                Buy >
            </a>
        </div>
        <div class="image-wrapper">
            <img src="../../assets/Images/iPhone15Pro.jpeg" alt="iPhone15Pro">
        </div>
    </div>

    <div class="iPhone-15">
        <div class="description">
            <h2 class="headline">iPhone 15</h2>
            <h3 class="subhead">New camera. New design. Newphoria.</h3>
        </div>
        <div class="links">
            <a>
                Learn More >
            </a>
            <a style="margin-left: 20px;">
                Buy >
            </a>
        </div>
        <div class="image-wrapper">
            <img src="../../assets/Images/iPhone15.jpeg" alt="iPhone15Pro">
        </div>
    </div>
</div>