<div class="login-page">
    <div class="login-container">
        <label for="userName">
            UserName:
        </label>
        <input id="userName" type="text" [(ngModel)]="userName"/>

        <label for="password">
            Password:
        </label>
        <input id="password" type="text" [(ngModel)]="password"/>
    </div>

    <div class="register-container">
        <label for="reg_userName">
            UserName:
        </label>
        <input id="reg_userName" type="text" [(ngModel)]="userName"/>

        <label for="reg_password">
            Password:
        </label>
        <input id="reg_password" type="text" [(ngModel)]="password"/>
        <label for="reg_confirmPassword">
            Confirm Password:
        </label>
        <input id="reg_confirmPassword" type="text" [(ngModel)]="confirmPassword"/>
    </div>
</div>