.naviBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1d1d1f;
    text-align: center;
}

.navi-icons {
    height: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.whiteIcon {
    color: white;
}