<filter-textbox></filter-textbox>
<br /> 
<div style="margin-top: 20px;">
    <h2>Table 1</h2>
    <table class="cusTable">
        <thead>
            <tr>
                <th (click)="sort('id')">ID</th>
                <th (click)="sort('name')">Name</th>
                <th (click)="sort('city')">City</th>
                <th (click)="sort('orderTotal')">Order Total</th>
                <th (click)="sort('customerSince')">Customer Since</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cus of Customers">
                <td>{{ cus.id }}</td>
                <td>
                    <a> {{ cus.name }}</a>
                </td>
                <td>{{ cus.city }}</td>
                <td>{{ cus.orderTotal }}</td>
                <td>{{ cus.customerSince }}</td>
            </tr>
        </tbody>
        <tfoot *ngIf="Customers.length == 0">
            <tr >
                <td colspan="5">No Customers found.</td>
            </tr>
        </tfoot>
    </table>
    Numbers of Customers: {{ Customers.length }}
</div>

<div style="margin-top: 20px;">
    <h2>Mat Table</h2>
    <div class="mat-elevation-z8 customers-list">
        <table mat-table [dataSource]="customersDataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-hearder-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <th mat-hearder-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>
            
            <ng-container matColumnDef="city">
                <th mat-hearder-cell *matHeaderCellDef mat-sort-header>City</th>
                <td mat-cell *matCellDef="let row">{{ row.city }}</td>
            </ng-container>
        
            <ng-container matColumnDef="orderTotal">
                <th mat-hearder-cell *matHeaderCellDef mat-sort-header>OrderTotal</th>
                <td mat-cell *matCellDef="let row">{{ row.orderTotal }}</td>
            </ng-container>
        
            <ng-container matColumnDef="customerSince">
                <th mat-hearder-cell *matHeaderCellDef mat-sort-header>CustomerSince</th>
                <td mat-cell *matCellDef="let row">{{ row.customerSince }}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>


