.customers-list {
    width: 85%;
}

.cusTable {
    border: 1px solid black;
    border-radius: 5px;
    width: 700px;
    box-shadow: 5px 5px 10px #888888;
}

th:hover {
    cursor: pointer;
}

td {
    text-align: center;
}
